%h1 Listing pulses

%table
  %tr
    %th User
    %th Url
    %th
    %th
    %th

  - @pulses.each do |pulse|
    %tr
      %td= pulse.user
      %td= pulse.url
      %td= link_to 'Show', pulse
      %td= link_to 'Edit', edit_pulse_path(pulse)
      %td= link_to 'Destroy', pulse, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pulse', new_pulse_path
