%p#notice= notice
- if current_user === @pulse.user
  = link_to '', edit_pulse_path(@pulse), class: 'icon-pencil edit'

%header
  - if @pulse.social_accounts.size
    .socials
      .inner
        %ul
          - @pulse.social_accounts.each do |social_account|
            %li{class: social_account.name}
              = link_to '', social_account.url + social_account.handle, class: "icon-#{social_account.name}"
  .title
    %h1.name jakebuob
    %h2.tagline= @pulse.tagline

.pulse
  %svg{xmlns:"http://www.w3.org/2000/svg", version:"1.1", width: '2000', height: '208', viewBox: '0 0 2000 208'}

.band.job
  .title Developer at MojoTech

.content
  .work
    .project
      .background{style: 'background-image: url(http://garden.jpg.to/l+r+photo)'}
      .overlay{style: 'background-color: #701516;'}
      .shadow
      .graph.graph-1
      %h1.title Garden Gate Fabrics
      %ul.languages
        %li Ruby
        %li Javascript
        %li HTML
      .activity
        %ul
          %li
            lines removed this week:
            %span 381
          %li
            lines added this week:
            %span 4,189
          %li
            total lines removed:
            %span 793,921
          %li
            total lines added:
            %span 1,823,843
        .total-commits
          .number 120
          .sub commits

    .project
      .background{style: 'background-image: url(http://love.jpg.to/l+r+photo)'}
      .overlay{style: 'background-color: #244776;'}
      .shadow
      .graph.graph-2
      %h1.title Love Sends
      %ul.languages
        %li Javascript
        %li CSS
      .activity
        %ul
          %li
            lines removed this week:
            %span 271
          %li
            lines added this week:
            %span 402
          %li
            total lines removed:
            %span 4,921
          %li
            total lines added:
            %span 964,278
        .total-commits
          .number 75
          .sub commits

.band.fin fin
