%p#notice= notice
- if current_user === @pulse.user
  = link_to '', edit_pulse_path(@pulse), class: 'icon-pencil edit'

%header
  - if @pulse.social_accounts.size
    .socials
      .inner
        %ul
          - @pulse.social_accounts.each do |social_account|
            %li{class: social_account.name}
              = link_to '', social_account.url + social_account.handle, class: "icon-#{social_account.name}"
  .title
    %h1.name jakebuob
    %h2.tagline= @pulse.tagline

.pulse
  %svg{xmlns:"http://www.w3.org/2000/svg", version:"1.1", width: '2000', height: '208', viewBox: '0 0 2000 208'}

.band.job
  .title Developer at MojoTech

.content
  .work
    - @pulse.user.repos.each do |repo|
      %a.project{href: if repo.private then nil else repo.url end}
        .background{style: "background-image: url(http://#{repo.name}.jpg.to/l+r+photo)"}
        .overlay{style: "background-color: #{repo.primary_language_color || '#000'};"}
        .shadow
        .graph= image_tag 'graph1.png'
        - unless repo.private
          %h1.title= repo.name.capitalize
        %ul.languages
          - repo.languages.each do |language|
            %li= language
        .activity
          %ul.additions-deletions
            - if repo.this_week_deletions > 0
              %li
                lines removed this week:
                %span= repo.this_week_deletions
            - if repo.this_week_additions > 0
              %li
                lines added this week:
                %span= repo.this_week_additions
            %li
              total lines removed:
              %span= repo.total_deletions
            %li
              total lines added:
              %span= repo.total_additions
          .total-commits
            .number= repo.total_commits
            .sub= "commit".pluralize(repo.total_commits)

.band.fin fin

- content_for :javascript do
  - javascript_tag do
    $(function () { Pulse.draw(#{raw @pulse.user.activity.to_json()}); });
