!!!
%html
  %head
    %title Codepulse
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / .notices= render 'layouts/flash_messages'
    = yield

    %script{src: "//use.typekit.net/uxo7ptt.js", type: "text/javascript"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :javascript
